/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: #ffffff;
}

/* App Container */
.App {
  text-align: center;
  padding-top: 50px;
}

/* Header Styles */
header {
  background: linear-gradient(135deg, #0a93bd, #69b9fa);
  color: white;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: rgb(5, 207, 39);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #c8e6c9;
}

/* Main Content */
main {
  padding: 20px;
  margin-top: 80px;
}

/* Links and Buttons */
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Error Page */
.PageError {
  text-align: center;
  font-size: 1.5rem;
  color: #d32f2f;
}

/* Responsive Design */
@media (max-width: 600px) {
  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  header h1 {
    font-size: .5rem;
  }
}
